@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&family=Poppins:wght@500;600&display=swap');

:root {
  font-family: 'Inter', 'Poppins', 'Helvetica Neue', Helvetica, Arial;
  line-height: 1.5;
  font-weight: 400;
  color: #0a0a0a;
  background-color: #f7fafc;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  background-color: #f7fafc;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

button {
  font-family: inherit;
}
